<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS links and other headers here -->
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <label for="username">Username:</label>
        <input 
        type="text" 
        name="username" 
        required/>
        
        <label for="password">Password:</label>
        <input 
        type="password" 
        name="password" 
        required/>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</body>
</html>
